<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.op9.camcap">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.camera2" android:required="false"/>
  <application android:label="OP9CamCap" android:hasCode="true">
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <service android:name=".CamService" android:exported="true"/>
  </application>
</manifest>
